@charset "UTF-8";

/* Reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,time, mark, audio, video,select,option {margin:0;padding:0;border:0;font-size:100%;vertical-align:baseline;background:transparent;box-sizing:border-box}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block}
body{word-break:keep-all;word-wrap:break-word;-webkit-text-size-adjust:none;}
a{color:#000;margin:0;padding:0;font-size:100%;vertical-align:baseline;text-decoration:none;background:transparent;}
nav,dl,ul,ol,menu,li{list-style:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}
table{border-collapse:collapse;border-spacing:0}
button,input,textarea{margin:0;padding:0;border:0;outline:none;font-size:100%;font-family:inherit;vertical-align:baseline;background:transparent;}
button{cursor:pointer;}
img{vertical-align:middle;max-width:100%}
video{width:100%}
input[type=button],input[type=email],input[type=password],input[type=reset],input[type=search],input[type=submit],input[type=tel],input[type=text],input[type=url],textarea,select,
input[type="number"]::-webkit-outer-spin-button,input[type="number"]::-webkit-inner-spin-button{-webkit-appearance:none;border-radius:0}
input[type=text]::-ms-clear{display:none}
legend,caption {display:block;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;overflow:hidden;text-indent:-9999px}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important;white-space:nowrap}
.clearfix:after{content:'';clear:both;display:table}
.ellipsis{overflow:hidden;white-space:nowrap;word-break:break-all;text-overflow:ellipsis}
.txtcnt{text-align:center !important}
.txtlft{text-align:left !important}
.txtrgt{text-align:right !important}
*{box-sizing:border-box;}

.sp_img{overflow:hidden;display:inline-block;background:url(../imgs/sp_img.png)0 0 no-repeat;font-size:0;vertical-align:top;}

body{font-family: 'Oxygen', Helvetica, sans-serif;}

a:focus, button:focus{outline:2px dashed #f9593a}

.wrap{position:relative;display:flex;display:-ms-flexbox;display:-webkit-flex;min-height:100vh;flex-direction:column;-ms-flex-direction:column;-webkit-flex-direction:column;}
.cloud_wrap{position:fixed;top:0;left:0;right:0;bottom:0;z-index:10;display:block;width:100%;height:100%;}
.cloud_wrap>img{position:absolute;left:-25%;animation:test 50s infinite;opacity:.4;}
.cloud_wrap>img:nth-child(2){left:20%;animation-delay:-15s}
.cloud_wrap>img:nth-child(3){left:50%;animation-delay:-5s}
.cloud_wrap>img:nth-child(4){left:40%;animation-delay:-10s}
.cloud_wrap>img:nth-child(5){left:0%;animation-delay:-30s}
.cloud_wrap>img:nth-child(6){left:70%;animation-delay:-20s}
.cloud_wrap>img:nth-child(7){left:10%;animation-delay:-60s}
.cloud_wrap>img:nth-child(8){left:60%;animation-delay:-50s}
@keyframes test{
    from {bottom:-500px}
    to {bottom:1200px}

}

header{height:54px;background:#fff;z-index:10}
header .logo{float:left;display:inline-block;width:54px;height:54px;padding:12px 0 0 12px;}
header nav{float:right;width:calc(100% - 80px);padding-right:10px}
header nav ul{display:flex;display:-ms-flexbox;display:-webkit-flex;justify-content:flex-end;-ms-flex-pack:end;-webkit-justify-content:flex-end;}
header nav li>a{display:block;color:#9fa3a7;text-align:center;font-size:15px;line-height:54px;padding:0 18px;}
header nav li>a:hover, header .nav li.on>a{color:#d02c0d}
header:after{content:'';display:table;clear:both}

section{position:relative;min-height:100vh;padding:10vh 0;overflow:hidden}
section .inner{position:relative;display:flex;align-items:center;justify-content:center;max-width:1280px;width:100%;height:100%;padding:0 2rem;z-index:10;margin:0 auto;}

.intro{height:100vh;background:linear-gradient(0deg, rgba(143,117,190,1) 0%, rgba(60,128,236,1) 80%);}
.intro .txt_wrap h1{font-size:6.7rem;color:#fff;font-weight:normal;text-align:center;letter-spacing:-2px;z-index:10}
.intro .txt_wrap h1>strong{display:block;font-size:9.4rem;text-shadow:2px 2px 6px #8f75be;border-top:1px solid #fff}

section.skill{color:#fff;background:#8f75be}
.skill .inner{flex-direction:column;}
.skill .con_wrap{background:rgba(143,117,190,.6);border-radius:16px;border:1px solid #f1f1f1;}
.skill .txt_wrap{position:relative;max-width:800px;text-align:center;padding:30px;margin:0 auto;z-index:10}
.skill .txt_wrap p{vertical-align:top;font-size:1.2rem;line-height:2;padding-top:20px;word-break:keep-all;}
.skill .txt_wrap .quotation{width:42px;height:27px;background-position:-62px 0}
.skill .stack{display:flex;display:-ms-flexbox;display:-webkit-flex;justify-content:space-around;-webkit-justify-content:space-around;-ms-flex-pack:justify;flex-wrap:wrap;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;font-size:1rem;text-align:center;padding:30px}
.skill .stack .stack_box{position:relative;min-width:200px;padding:18px 8px;}
.skill .stack .stack_box>strong{display:inline-block;vertical-align:top;height:25px;line-height:24px;padding:0 12px;border-radius:12px;background:#8065b2}
.skill .stack .list li{position:relative;font-size:1rem;line-height:1.5;text-align:left;padding-left:28px;margin-top:12px}
.skill .stack .list li:before{position:absolute;content:'';top:4px;left:0;width:20px;height:18px;background:url(../imgs/sp_img.png)0 -15px no-repeat}

section.work{display:flex;align-items:center;}
/* #work_01{background:linear-gradient(180deg, rgba(143,117,190,1) 0%, rgba(67,67,80,1) 80%);}
.work.dark_left{background:linear-gradient(180deg, rgba(67,67,80,1) 0%, rgba(255,255,255,1) 80%);} */
.work .txt_wrap{position:relative;min-width:calc(50% - 30px);text-align:center;margin-right:30px;}
.work .txt_wrap:after{position:absolute;content:'';top:-200px;left:-100px;width:750px;height:750px;border-radius:50%;background:rgba(238,238,238,.6)}
.work .txt_wrap>div{position:relative;display:inline-block;text-align:left;z-index:1}
.work .txt_wrap .svc_tit{font-size:2rem;padding-bottom:20px;}
.work .txt_wrap .description li{position:relative;font-size:1rem;line-height:1.5;padding-left:12px;padding-bottom:6px}
.work .txt_wrap .description li:before{position:absolute;content:'';top:9px;left:0;width:6px;height:6px;border-radius:50%;background:#8f75be}
.work .txt_wrap .details{font-size:14px;color:#595959;line-height:24px;margin:20px 0}
.work .txt_wrap .details p:last-of-type{margin-bottom:10px}
.work .txt_wrap .details .link{font-size:14px;color:#3fa3ff}
.work .txt_wrap .details .link:hover{text-decoration:underline}
.work .txt_wrap .go_markup{display:inline-block;min-width:100px;height:40px;text-align:center;font-size:14px;line-height:36px;border-radius:20px;border:2px solid #ffc80a;padding:0 16px}
.work .txt_wrap .go_markup+.go_markup{margin-left:6px}
.work .txt_wrap .go_markup:hover{border-color:#0ebac5}
.work .img_wrap{position:relative;min-width:50%;max-width:519px;}
.work .img_wrap>img{position:relative;z-index:1}
.work.dark_left{color:#fff;background:#434350}
.work.dark_left .inner{flex-direction:row-reverse;}
.work.dark_left .txt_wrap{margin-left:30px;margin-right:0}
.work.dark_left .txt_wrap:after{right:-50px;left:auto;background:rgba(75,75,87,.6)}
.work.dark_left .txt_wrap .details{color:#c9c9c9}
.work.dark_left .txt_wrap .go_markup{color:#fff}

.dark{background-color:#181616;transition-duration:1s;}
.dark header, .dark a{color:#fff;transition-duration:.5s;}
.dark .pofo_list a:hover{color:#ffca7a;transition-duration:.5s;}
.dark .pofo_list li:hover img{display:block;transition-duration:1s;}

.preview{display:block;text-align:center;min-height:auto;padding:40px 0}
.preview h2{font-size:34px}
.preview p{font-size:15px;color:#4a4a4a;margin:20px 0}
.preview .tags .item{display:inline-block;vertical-align:top;height:22px;font-size:13px;color:#0ebac5;line-height:20px;border:1px solid #0ebac5;border-radius:12px;padding:0 10px;margin:0 4px}
.preview .tags .item.v2{line-height:19px}
.preview .prev_img{text-align:center;padding:30px 0}
.preview .prev_img img{width:96%;max-width:1000px;border-radius:6px;box-shadow:13px 13px 30px rgb(0 0 0 / 15%);margin-bottom:60px}

.side_nav{position:fixed;right:0;bottom:100px;text-align:right;z-index:99}
.side_nav li a{position:relative;display:inline-block;font-size:16px;color:#9c9c9c;line-height:30px;text-align:center;padding:0 10px 0 30px;}
.side_nav li a span{display:inline-block;width:10px;font-weight:bold;}
.side_nav li a:before{position:absolute;content:'';top:50%;right:28px;width:12px;height:3px;border-radius:2px;background:#bbb}
.side_nav li a:hover:before{width:20px;background:#ffc80a}

.side_nav.itself{right:20px;bottom:40px}
.side_nav.itself a{display:inline-block;width:40px;height:40px;text-align:center;font-size:14px;line-height:40px;color:#fff;border:2px solid #ffc80a;border-radius:50%;background:rgba(255,255,255,.5)}
.side_nav.itself a .sp_img{vertical-align:middle;width:24px;height:18px;background-position:-34px 0;transform:rotate(90deg)}

/* Footer */
footer{height:68px;padding:0 10px;background:transparent;z-index:10}
footer ul{display:flex;display:-ms-flexbox;display:-webkit-flex;align-items:center;-ms-flex-align:center;-webkit-align-items:center;justify-content:center;-ms-flex-pack:center;-webkit-justify-content:center;flex-wrap:wrap;-ms-flex-wrap:wrap;-webkit-flex-wrap:wrap;height:100%}
footer li{color:#4a4a4a;font-size:11px;margin:0 12px}


/* (768px ~ 1024px)*/
@media all and (min-width:768px) and (max-width:1024px) {

}

/* (~ 767px)*/
@media all and (max-width:767px) {
    section .inner{padding:0 1.5rem}
    .intro .txt_wrap h1{font-size:5rem}
    .intro .txt_wrap h1>strong{font-size:7rem}
    .skill .con_wrap{border:0}
    .skill .txt_wrap p{font-size:1rem}
    .skill .stack .list li{font-size:14px}
    .work .inner{flex-wrap:wrap-reverse}
    .work .txt_wrap,.work .img_wrap{min-width:100%;text-align:center}
    .work .txt_wrap, .work.dark_left .txt_wrap{padding:50px 0 0;margin:0}
    .work .txt_wrap .link_wrap{text-align:center}

}

/* ( ~ 570px)*/
@media all and (max-width:570px) {
    .intro .txt_wrap h1{font-size:2.7rem}
    .intro .txt_wrap h1>strong{font-size:3.8rem}
}

/* ( ~ 320px)*/
@media all and (max-width:320px) {
    .intro .txt_wrap h1{font-size:2rem}
    .intro .txt_wrap h1>strong{font-size:2.9rem}
}

/* slick.css */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
