body,p,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,img,button,select{margin:0;padding:0}
body,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,button{font-family: 'Oxygen', sans-serif;}
/* body{min-width:1280px;-webkit-text-size-adjust:none} */
img,fieldset{border:0;vertical-align:top}
ul,ol,li{list-style:none}
a{text-decoration:none;color:#000}
.clearfix:after{content:'';clear:both;display:table}
.sp_img{overflow:hidden;display:inline-block;background:url(..imgs/sp_imgs.png)0 0 no-repeat;ling-height:100em;vertical-align:top;}
.blind{position:absolute !important;clip:rect(0 0 0 0) !important;width:1px !important;height:1px !important;margin:-1px !important;overflow:hidden !important}

header{position:absolute;top:0;left:0;right:0;height:54px;z-index:10}
header:after{content:'';display:table;clear:both}
header .logo{float:left;display:inline-block;width:70px;height:54px;font-size:34px;line-height:54px;font-weight:bold;text-align:center;}
header nav{float:left;width:calc(100% - 70px)}
header nav ul{display:flex;justify-content:center;}
header nav li>a{display:block;color:#9fa3a7;text-align:center;font-size:15px;line-height:54px;padding:0 18px;}
header nav li>a:hover, header .nav li.on>a{color:#d02c0d}
.container{position:absolute;top:100px;right:0;bottom:0;left:0;}
.section{position:relative;display:table;width:100%;height:100vh}
.main_con{position:relative;height:550px;padding:80px 650px 10px 100px;box-sizing:border-box;}
.main_con .txt_wrap{position:relative;z-index:1}
.main_con .txt_wrap h2{font-size:40px;line-height:54px;white-space:nowrap}
.main_con .txt_wrap p{font-size:18px;color:#9fa3a7;margin:30px 0 40px}
.main_con .btn_wrap a{display:inline-block;height:46px;font-size:15px;line-height:46px;font-weight:bold;border-radius:24px;padding:0 40px;background-color:#ffc80a;}
.main_con .btn_wrap a:hover{color:#fff;background-color:#1b87ba}
.main_con .main_img{position:absolute;top:0;right:0;width:811px;height:548px;}
.main_con .main_img>img{position:absolute;z-index:1}
.main_con .main_img .desktop{top:-39px;left:188px;transform: perspective(2278px) rotateX(-66deg);}
.main_con .main_img:before{position:absolute;content:'';top:0;right:0;width:811px;height:548px;background:url(../imgs/main.png)0 0 no-repeat}
.section .sub_title{font-size:28px;text-align:center;padding-bottom:20px}
.work_list:after{content:'';display:table;clear:both}
.work_list ul{display:flex;max-width:100%;justify-content:center;flex-wrap:wrap;}
.work_list li{flex-basis:33.3%;max-width:300px;margin:6px;box-sizing:border-box;}
.work_list li>a{display:block;border-radius:6px;padding:20px 50px;}
.work_list li>img{display:block;margin:0 auto;}
.work_list li .category{font-size:12px;color:#9fa3a7;font-weight:bold}
.work_list li h3{font-size:20px;font-weight:normal;}
.work_list li>a:hover{color:#fff;background-color:#ffc80a}
.work_list li>a:hover .category{color:#fff}

.portfolio{min-width:1024px;padding:40px 0}
.portfolio:after{content:'';display:table;clear:both}
.portfolio .lft_con{float:left;width:50%;background:beige;}
.portfolio .lft_con .preview{position:relative;width:100%;height:100%;margin:40px auto}
.portfolio .lft_con .preview .slider-for{height:300px}
.portfolio .lft_con .preview .slider-for img{width:100%;height:300px}
.portfolio .lft_con .preview .slider-nav{padding:20px 49px}
.portfolio .lft_con .preview .slider-nav img{min-width:120px;margin:0 10px;opacity:.8}
.portfolio .lft_con .preview .slick-arrow{position:absolute;top:50%;left:7px;width:34px;height:34px;font-size:0;border:3px solid #ffc80a;border-radius:50%;margin-top:-17px;background:none;z-index:1}
.portfolio .lft_con .preview .slick-arrow:after{position:absolute;content:'';top:5px;left:4px;width:19px;height:18px;background:url(../imgs/sp_img.png)-34px 0 no-repeat}
.portfolio .lft_con .preview .slick-arrow.slick-next{left:auto;right:7px}
.portfolio .lft_con .preview .slick-arrow.slick-next:after{transform:rotate(180deg)}

.portfolio .rgt_con{float:left;width:50%;padding:80px 60px 70px;box-sizing:border-box;}
.portfolio .rgt_con .svc_title{font-size:32px;line-height:36px}
.portfolio .rgt_con .svc_desc{height:140px;margin:40px 0 30px}
.portfolio .rgt_con .svc_desc .tabs{margin-bottom:20px}
.portfolio .rgt_con .svc_desc li{display:inline-block;vertical-align:top;width:50%;}
.portfolio .rgt_con .svc_desc li>button{display:inline-block;width:100%;height:26px;font-size:13px;text-align:left;font-weight:bold;padding-bottom:10px;border:0;border-bottom:2px solid #eee;background:none}
.portfolio .rgt_con .svc_desc li>button:hover, .portfolio .rgt_con .svc_desc li>button.on{border-color:#ffc80a}
.portfolio .rgt_con .svc_desc li>button:focus{outline:none}
.portfolio .rgt_con .svc_desc p{font-size:13px;color:#9fa3a7}
.portfolio .rgt_con .svc_desc .desc_d{display:none}
.portfolio .rgt_con .svc_info>div{display:inline-block;vertical-align:top;width:200px}
.portfolio .rgt_con .svc_info dt{font-size:12px;color:#9fa3a7;font-weight:bold;margin-bottom:8px}
.portfolio .rgt_con .svc_info dd {font-size:13px}
.portfolio .rgt_con .svc_info .theme dd>span{position:relative;display:inline-block;width:26px;height:26px;border-radius:50%;background-color:#eee;margin-right:10px}
.portfolio .rgt_con .svc_info .theme dd>span.dark{background-color:#121212}
.portfolio .rgt_con .svc_info .theme dd>span.selected:after{position:absolute;content:'';top:10px;left:8px;width:9px;height:6px;background:url(../imgs/sp_img.png)0 0 no-repeat}
.portfolio .rgt_con .go_back{display:inline-block;height:40px;font-size:14px;color:#fff;line-height:40px;border-radius:25px;padding:0 40px;background-color:#ffc80a;margin-top:50px}
.portfolio .rgt_con .go_back:hover{background-color:#8f75be}

.skill{color:#fff;background:#8f75be}
.skill .sub_title{font-size:32px;text-align:left;}
.skill .lft_con{display:table-cell;vertical-align:middle;width:300px;padding-left:50px}
.skill .rgt_con{display:table-cell;vertical-align:middle;padding-left:130px}
.skill .diagram{position:relative;width:400px;height:400px;border-radius:50%;border:1px solid #9f8bcc;}
.skill .diagram:before, .skill .diagram:after, .skill .diagram .line{position:absolute;content:'';top:-1px;left:50%;bottom:0;width:1px;background:#9f8bcc}
.skill .diagram:after{transform:rotate(60deg)}
.skill .diagram .line{transform:rotate(120deg)}
.skill .diagram li{position:absolute;top:-46px;left:151px;max-width:140px;background:pink;font-size:13px;text-align:center;padding-bottom:15px;}
.skill .diagram li:before{position:absolute;content:'';left:50%;bottom:0;width:5px;height:5px;border-radius:50%;background:#f5f5f5;margin-left:-2px}
.skill .diagram li>span{padding:0 6px}
.skill .diagram li .description{display:none;position:absolute;top:37px;left:-30px;font-size:12px;line-height:16px;min-width:140px;max-width:200px;text-align:center;padding:8px 10px;background:#353535;border-radius:8px;z-index:2}
.skill .diagram li .description:before{position:absolute;content:'';top:-4px;left:50%;border-width:0 4px 4px 4px;border-color:transparent transparent #353535 transparent;border-style:solid;margin-left:-3px}
.skill .diagram li:hover .description{display:block;}
.skill .diagram li:nth-child(2){top:85px;left:auto;right:-70px;text-align:left;padding-bottom:0;padding-left:15px}
.skill .diagram li:nth-child(3){top:297px;left:auto;right:-40px;text-align:left;padding-bottom:0;padding-left:15px}
.skill .diagram li:nth-child(2):before,
.skill .diagram li:nth-child(3):before{bottom:5px;left:2px}
.skill .diagram li:nth-child(4){top:auto;bottom:-45px;padding-bottom:0;padding-top:15px}
.skill .diagram li:nth-child(4):before{bottom:25px}
.skill .diagram li:nth-child(5){top:297px;left:-125px;text-align:right;padding-bottom:0;padding-right:15px;}
.skill .diagram li:nth-child(6){top:85px;left:-27px;text-align:right;padding-bottom:0;padding-right:15px;}
.skill .diagram li:nth-child(5):before,
.skill .diagram li:nth-child(6):before{bottom:5px;left:auto;right:2px}
.skill .diagram li:nth-child(2) .description,
.skill .diagram li:nth-child(3) .description,
.skill .diagram li:nth-child(5) .description,
.skill .diagram li:nth-child(6) .description{top:26px}
.skill .diagram li:nth-child(4) .description{top:-64px}
.skill .diagram li:nth-child(4) .description:before{top:auto;bottom:-4px;transform:rotate(180deg)}
.skill .diagram .polygon{position:relative;width:400px;height:400px;clip-path:polygon(50% 5%, 72% 37%, 78% 66%, 50% 88%, 15% 70%, 17% 31%);background:rgba(255,200,11,.6);z-index:1;}
.skill .diagram .tip{position:absolute;top:170px;right:-230px;font-size:12px;padding-left:8px}
.skill .diagram .tip:before{position:absolute;content:'';top:5px;left:0;width:5px;height:5px;border-radius:50%;background:#fff}

.dark{background-color:#181616;transition-duration:1s;}
.dark header, .dark a{color:#fff;transition-duration:.5s;}
.dark .pofo_list a:hover{color:#ffca7a;transition-duration:.5s;}
.dark .pofo_list li:hover img{display:block;transition-duration:1s;}

.showcase{background-color:#eae1da}
.showcase img{box-shadow:16px 16px 34px 0 rgba(0,0,0,.11);transition-duration:.5s}

/* PC , 테블릿 가로 (해상도 768px ~ 1023px)*/
@media all and (min-width:1024px) {

}

/* 테블릿 세로 (해상도 768px ~ 1023px)*/
@media all and (min-width:768px) and (max-width:1023px) {
    body{background:skyblue}
    .main_con .txt_wrap h2{font-size:32px}
    .main_con .main_img{width:460px}
    .main_con .main_img:before{width:580px}
}

/* slick.css */
/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}


/* 모바일 가로, 테블릿 세로 (해상도 480px ~ 767px)*/
@media all and (max-width:767px) {
    body{background:beige}
    .main_con .main_img{display:none}
}

/* 모바일 가로, 테블릿 세로 (해상도 ~ 479px)*/
@media all and (max-width:479px) {
    body{background:pink}
}
